body {
    background-color: #deeffb;
    font-family: 'Lucida Sans';
    font-size: 14px;
    margin: 20px;
    padding: 10px;
}

h1 {
    font-size: 18px;
    line-height: 25px;
}

p {
    line-height: 18px;
}
